{% extends 'base.html' %}
{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}

<div class="container">
    <div class="card shadow" style="border-radius: 1rem; width: fit-content;">
        <div class="card-title">
            <h1 style="text-align: center;">Home Page</h1>
        </div>
        <div class="card-body">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus, eros id placerat imperdiet, dui arcu rhoncus velit, sit amet interdum justo odio sed elit. Nam vitae leo vel urna aliquam egestas. Nullam ullamcorper interdum mauris sit amet tincidunt. Quisque tempor dictum neque eu molestie. Maecenas gravida vitae urna sit amet volutpat. Vivamus ac dui et felis pellentesque molestie vel nec tellus. Quisque at posuere urna. Etiam mauris leo, vulputate in nulla a, cursus tempor magna. Donec accumsan, lorem ut congue tincidunt, diam felis auctor lectus, ac faucibus urna magna id purus.

Donec lacus dolor, facilisis id congue vel, fermentum sed odio. Nunc a ante ex. Donec ac sem vitae leo pellentesque tincidunt in at massa. Phasellus vitae purus id arcu efficitur tempus eget sed massa. Vestibulum egestas porta nulla, id varius arcu efficitur id. Aliquam fringilla ultricies justo eu sodales. Curabitur congue vestibulum enim porta porta. Quisque tincidunt nec velit at malesuada. Donec consectetur felis ex, vel consectetur purus porta quis. Curabitur vulputate interdum malesuada. In sed elit nec magna pellentesque tincidunt. Sed mi metus, tempus ac erat et, congue rutrum velit.

Nam nec semper elit. Donec dignissim urna ipsum, sit amet aliquet tortor tincidunt et. Donec congue sed erat ut accumsan. Ut sit amet ipsum ac odio condimentum eleifend. Nam congue varius ex, vitae accumsan augue consequat eu. Ut eu ultrices augue, ac aliquet lacus. Nullam pretium mi quis diam elementum, sit amet dictum est lacinia.

Maecenas a metus id velit venenatis vestibulum vitae at eros. Donec convallis laoreet justo ac dapibus. Quisque pulvinar eu tortor tincidunt facilisis. Proin sit amet rhoncus augue, vitae blandit nibh. Sed dui turpis, fermentum ac vulputate id, varius id ipsum. Maecenas eget scelerisque sapien. Vestibulum vehicula felis sit amet ex dapibus sollicitudin in non metus. Nullam euismod posuere arcu. Sed iaculis dui a lacus imperdiet mollis. Nullam tincidunt facilisis est sit amet condimentum.

Vivamus varius nec eros et eleifend. Praesent gravida justo nec risus maximus aliquam. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc porta est ullamcorper massa luctus, consectetur auctor massa ullamcorper. Nullam ac mi sit amet magna porttitor cursus ac eget mi. Vestibulum eu hendrerit sapien. Donec finibus, leo a hendrerit vestibulum, elit lectus ultricies eros, sed blandit neque ante eu nunc. Ut rhoncus nunc in condimentum vestibulum. Fusce ac iaculis tellus. Aenean eleifend ex ut tortor iaculis euismod. Nulla accumsan rutrum eros. Phasellus quam orci, cursus quis dui aliquet, volutpat suscipit metus. Etiam non turpis id dui commodo porta sit amet at ipsum. Nunc a elit in diam dapibus placerat. Maecenas in dui aliquam, sodales libero eget, tincidunt tortor.
            </p>
        </div>
    </div>
</div>
{% endblock%}